<!DOCTYPE html>
<html>
  <head>
    <title>kris-ati</title>
  </head>
  <body>
    <h1>Hare Krishna ji</h1>
    <table border="5" cellpadding="8">
      <tr>
        <th>Template Name</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Banke Bihari Temple</td>
        <td>Most famous Krishna temple.</td>
      </tr>

      <tr>
        <td>Radha Vallabh Temple</td>
        <td>Unique worship of Radha Rani.</td>
      </tr>

      <tr>
        <td>Rangaji Temple</td>
        <td>South Indian Style, Lord Ranganatha</td>
      </tr>

      <tr>
        <td>Madan Mohan Temple    </td>
        <td>One of the oldest in vrindavan</td>
      </tr>

      <tr>
        <td>Govind Dev ji Temple </td>
        <td> Historic temple built by Raja Man Singh</td>
      </tr>
    </table>
  </body>
</html>
